  <div>
      <div>
       <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 content">
        <!-- Здесь вы можете добавить свое содержимое -->
        <h1 class="display-4">Добро пожаловать!</h1>
           <br>
           <br>
        <p class="lead">Это будет портал проверки качества подразделений Технической поддержки БТИ сегмента B2C</p>
           <br>
           <br>
           <br>
           <br>
           <br>
        <hr class="my-4">
        <p>Здесь будет представлена статистика по кол-ву проверок и уровню качества подразделений</p>
      </main>
    </div>
  </div>