<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мой сайт новостей</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
<h1> Главная страница из шаблона</h1>
<h3> Новости горнолыжного спорта </h3>
<h6> Новости велоспорта </h6>
<p> Параграф </p>
<a href="about/"> Ссылка</a>
<br>
<br>
<div class="image1">
<img src="https://img.freepik.com/free-photo/a-digital-painting-of-a-mountain-with-a-colorful-tree-in-the-foreground_1340-25699.jpg?w=1380&t=st=1699119757~exp=1699120357~hmac=80fc27171fee4c9260be1627624fd795cd38593405fc504f57ce5dce19c375af" alt="текст вместо картинки"><br>
</div>
<br>
<br>
<div class="table1">
<table border="5">
    <th> Ячейка заголовка 1</th>
    <th> Ячейка заголовка 2</th>
    <tr>
        <td> Текст ячейки 1</td>
        <td> Текст ячейки 2</td>
    </tr>
    <tr>
        <td> Текст ячейки 1-2</td>
        <td> Текст ячейки 2-2</td>
    </tr>
</table>
</div>
</body>
</html>