  <div>
      <div>
       <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 content">
        <!-- Здесь вы можете добавить свое содержимое -->
         <head>
  <style>
    table {
      border-collapse: collapse;
    }
    td {
      border: 1px solid black;
      padding: 10px;
      text-align: center;
    }
    th {
      background-color: #4A4E5A;
      color: white;
      border: 1px solid black;
      padding: 10px;
    }
  </style>
</head>
  <table>
    <thead>
      <tr>
        <th>Заголовок 1</th>
        <th>Заголовок 2</th>
        <th>Заголовок 3</th>
        <th>Заголовок 4</th>
        <th>Заголовок 5</th>
        <th>Заголовок 6</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ячейка 1</td>
        <td>Ячейка 2</td>
        <td>Ячейка 3</td>
        <td>Ячейка 4</td>
        <td>Ячейка 5</td>
        <td>Ячейка 6</td>
      </tr>
      <tr>
        <td>Ячейка 7</td>
        <td>Ячейка 8</td>
        <td>Ячейка 9</td>
        <td>Ячейка 10</td>
        <td>Ячейка 11</td>
        <td>Ячейка 12</td>
      </tr>
      <tr>
        <td>Ячейка 13</td>
        <td>Ячейка 14</td>
        <td>Ячейка 15</td>
        <td>Ячейка 16</td>
        <td>Ячейка 17</td>
        <td>Ячейка 18</td>
      </tr>
      <tr>
        <td>Ячейка 19</td>
        <td>Ячейка 20</td>
        <td>Ячейка 21</td>
        <td>Ячейка 22</td>
        <td>Ячейка 23</td>
        <td>Ячейка 24</td>
      </tr>
      <tr>
        <td>Ячейка 25</td>
        <td>Ячейка 26</td>
        <td>Ячейка 27</td>
        <td>Ячейка 28</td>
        <td>Ячейка 29</td>
        <td>Ячейка 30</td>
      </tr>
      <tr>
        <td>Ячейка 31</td>
        <td>Ячейка 32</td>
        <td>Ячейка 33</td>
        <td>Ячейка 34</td>
        <td>Ячейка 35</td>
        <td>Ячейка 36</td>
      </tr>
    </tbody>
  </table>
           <br>
           <br>
        <hr class="my-4">
        <p>Таблица с данными на проверку</p>
      </main>
    </div>
  </div>