  <div>
      <div>
       <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 content">
        <!-- Здесь вы можете добавить свое содержимое -->
         <head>
  <style>
    table {
      border-collapse: collapse;
    }
    td {
      border: 1px solid black;
      padding: 10px;
      text-align: center;
    }
    th {
      background-color: #4A4E5A;
      color: white;
      border: 1px solid black;
      padding: 10px;
    }
  </style>
<!-- {% for TableInTarget in TableInTargets %}  -->
</head>
  <table>
    <thead>
      <tr>
        <th>Заголовок 1</th>
        <th>Заголовок 2</th>
        <th>Заголовок 3</th>
        <th>Заголовок 4</th>
        <th>Заголовок 5</th>
        <th>Заголовок 6</th>
        <th>Заголовок 7</th>
        <th>Заголовок 8</th>
        <th>Заголовок 9</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ TableInTarget.tt_number }}</td>
        <td>{{ TableInTarget.MRF_name }}</td>
        <td>{{ TableInTarget.cr_date_tt }}</td>
        <td>{{ TableInTarget.name_verifiable }}</td>
        <td>{{ TableInTarget.name_verifiable_sheff }}</td>
        <td>{{ TableInTarget.division_verifiable }}</td>
        <td>{{ TableInTarget.target_type }}</td>
        <td>{{ TableInTarget.kk_result }}</td>
        <td>  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Добавить</button>
  </form> </td>
      </tr>
    </tbody>
  </table>
           <br>
           <br>
        <hr class="my-4">
        <p>Таблица с данными на проверку</p>
      </main>
    </div>
  </div>