  <div>
      <div>
       <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 content">
        <!-- Здесь вы можете добавить свое содержимое -->
        <h1 class="display-4">Мы в лице меня</h1>
           <br>
           <br>
        <p class="lead">Рад приветствовать! Меня зовут Александр Кудрявцев. Я руководитель управления поддержки операций Центра Технической Поддержки сегмента B2C в БТИ.
            Перевод - Бэк офис (контроль качества, прогнозирование, методология, аналитика) 2 ЛТП БТИ</p>
           <br>
           <p class="lead">Развиваю навыки программирования благодоря нашей Школе, был полный 0, сейчас с палочкой :)</p>
           <br>
           <br>
           <br>
           <br>
        <hr class="my-4">
        <p>А ещё мы взяли 3-е место в первом Хакатоне РТК</p>
      </main>
    </div>
  </div>